<div
  class="modal fade"
  id="clientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="clientModalTitle"
  aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientModalTitle">Usuário</h5>
            </div>
            
            <div class="modal-body" id="modalSaleBody">
                <div>
                    <label for="inputCustomerName">Nome</label>
                    <input
                        type="text"
                        id="inputCustomerName"
                        name="inputCustomerName"
                        class="form-control form-control-sm"
                    />
                </div>

                <div>
                    <label for="inputCustomerCPF">CPF do Cliente</label>
                    <input
                        type="text"
                        id="inputCustomerCPF"
                        name="inputCustomerCPF"
                        class="form-control form-control-sm"
                    />
                </div>
                <div>
                    <label for="inputCustomerPhone">Telefone</label>
                    <input
                        type="text"
                        id="inputCustomerPhone"
                        name="inputCustomerPhone"
                        class="form-control form-control-sm"
                    />
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" id="btnSaveUser" class="btn btn-primary">
                    Cadastrar Cliente
                </button>
                <button
                    type="button"
                    id="btnCloseUserModal"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Fechar
                </button>
            </div>
        </div>
  </div>
</div>
